
<!DOCTYPE html>

<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Document </title>	
    <link rel="stylesheet" href="login.css">

</head>

<body>
	<div class="row-above">2 row-above</div>
	<div class="col-l">1 col-l</div>
	
		
    <div class="logo">3 logo
		<img id="logo-img" src="assets/img/logo_appo.png"/>
	</div>
	<div id="logo-title1">Appo</div>
	<div id="logo-title1">Sua agenda de compromissos</div>
	
	<div class="login">4 login
		<form action="submit" method="POST">{% csrf_token %}
			<div align="center">
				<label>Usuário:</label>
				<input type="text" name="username">
				<label>Senha:</label>
				<input type="password" name="password">
				<button type="submit">
					<img id="logo-img" src=""/>
					Entrar</button>
			</div>
		</form>
			
	</div>

	<div class="col-r">5 col-r</div>

	<div class="footer"> 
			<a href="https://www.linkedin.com/in/clovisdaniel/" target="_blank">
			<img id="icon-github" src="https://img.icons8.com/cute-clipart/64/000000/linkedin.png"/></a>
			<a href="https://github.com/clovisdanielcosta" target="_blank">
			<img id="icon-linkedin" src="https://img.icons8.com/fluent/48/000000/github.png"/></a>
			<div id="footer-text">Desenvolvido por Clovis Daniel Costa</div>
	</div>

</body>
</html>