{% load static %}
<!DOCTYPE html>

<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login</title>	
    <link rel="stylesheet" href="{% static 'css/login.css' %}?version=0">

</head>

<body>

	
		
    <div class="logo">
		<div id="logo-img">
			<img width="80%" src="{% static 'img/logo_appo_big.png' %}"/>
		</div>

	</div>
	
	<div class="login">
		
		<form action="submit" method="POST"> {% csrf_token %}
				<label id="form-label">Acessar agenda</label><br>
				<label>Usuário:</label><br>
				<input type="text" name="username"><br>
				<label>Senha:</label><br>
				<input type="password" name="password"><br>
				
				<label id="label-error">
				{% for message in messages %}
					<strong> {{ message }} </strong>
				{% endfor %}
				</label><br>

					<button class="bbtn" type="submit">Entrar</button>
				
		</form>
	
	</div>


	
 {% include "model-footer.html" %}

</body>
</html>