body, html {
   height: 100vh;
}

body{
    margin: 0;
    display: grid;
    grid-templates-columns: auto 27% 27% 27%;
    grid-templates-rows: 8% 30% auto 10%;
    grid-templates-areas:	
        "sidebar header header header"
        "sidebar sect1  sect2  sect3"
        "sidebar main   main   main"
        "sidebar footer footer footer"
}

aside{
    grid-area: sidebar;
    background-color: lime;
}

header{
    grid-area: header;
    background-color: green;
}

section:nth-of-type{
    grid-area: buttons;
    background-color: red;
}

main {
    grid-area: itens;
    background: pink;
}

footer{
    grid-area: footer;
    background-color: black;
}