:root { /* Seletor para referenciar a raiz da aplicação e usar variáveis */
    /* Cores modo Light */
    --primary-color: #34cb79; /* Cor padrão do botão */
    --bkg-color: #f0f0f5;
    --after-bkg-color:white;
    --title-color: #322153; /* Atalho para cores do sistema */
    --txt-color: black;
    --logo-bkg:  #bebdc2;
    --logo-words: #322153;
}

body {
    padding-left: 15px;
    padding-right: 15px;
}

.bbtn {
    margin-top: 40px;
    margin-bottom: 13px;
    margin-right: 12px;
    width: 260px;
    height: 56px;
    background-color: red;
    border-radius: 8px;
    color: var(--bkg-color);
    font-weight: bold;
    font-size: 16px;
    border: 0;
    transition: background-color 400ms;
}
/* 
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
} */
/*  {box-sizing: border-box;} 
.wrapper {
    border: 1px solid olive;
    border-radius: 5px;
    background-color: green;
}
.wrapper > div {
    border: 1px solid #ffa94d;
    border-radius: 5px;
    padding: 2px;

}
.nested {
    border: 1px solid #ffec99;
    border-radius: 5px;
    padding: 1em;
}
*/
.header {
    font-weight: Bold;
    color: White;
}

#itens {
    background-color: White;
    padding: 2px;
}

#action-titulo{
    align: center;
}

#action-itens{
    align: center;
}